.background {
	background-image: url('/image/library.png');
	background-size: cover;
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}

#login-dp {
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
	font-size: 12px
}

#login-dp .bottom {
	background-color: rgba(255, 255, 255, .8);
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
}

#login-dp .social-buttons {
	margin: 12px 0
}

#login-dp .social-buttons a {
	width: 49%;
}

#login-dp .form-group {
	margin-bottom: 10px;
}

.btn-fb {
	color: #fff;
	background-color: #3b5998;
}

.btn-fb:hover {
	color: #fff;
	background-color: #496ebc
}

.btn-tw {
	color: #fff;
	background-color: #55acee;
}

.btn-tw:hover {
	color: #fff;
	background-color: #59b5fa;
}

@media ( max-width :768px) {
	#login-dp {
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom {
		background-color: inherit;
		border-top: 0 none;
	}
}

footer {
	background-color: #424558;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	text-align: center;
	color: #CCC;
	z-index: 999;
}

footer p {
	padding: 10.5px;
	margin: 0px;
	line-height: 100%;
}

#hello {
	font-size: 20px;
	color: purple;
	padding-right: 50px;
}

#out {
	width: 100px;
	margin-left: 15px;
}

li a {
	color: black !important;
}

.navbar-brand {
	color: black !important;
}

.navbar {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) !important;
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) !important;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) !important;
}